<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Stock data</title>

    <link rel = "stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    
    <h1>
        Welcome to imshy's stock scraper!
    </h1>
    </head>
    <body>
        <p>
            {{content}}
        </p>
        <form method="POST">
            <input name="variable">
            <input type="submit">
        </form>
        <br>
        <a href="https://raw.githubusercontent.com/imshii/stock_data/main/stock%20data.txt">Click here for a list of all stocks</a>
    </body>

</html>
